global
        maxconn 4096
        daemon
 
defaults
        log     global
        mode    http
        retries 3
        option  redispatch
        maxconn 2000
        timeout connect 300000
  		timeout client 300000
  		timeout server 300000

        stats enable
        stats auth admin:admin
        
        
# dices        
listen Cluster *:4567
     balance roundrobin
     server Server_1 192.168.99.103:4567 check rise 3 fall 5
     server Server_2 192.168.99.104:4567 check rise 3 fall 5